.Navbar_background{
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}

.logo-image {
    width: 100px;
    height: auto;
}

/* resize images */
.logo-image img {
    width: 100%;
    height: auto;
}
