.Navbar_background{
    background-image: linear-gradient(-20deg, #fc6076 0%, #ff9a44 100%);
}

.logo-image {
    width: 100px;
    height: auto;
}

/* resize images */
.logo-image img {
    width: 100%;
    height: auto;
}
